433MHz-Arduino-link/mqtt/read_mqtt_post_mqtt_dweetio.json
[{"id":"c8b4f962.374b08","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"687ffef8.978","type":"exec","command":"/home/webide/repositories/my-pi-projects/433Mhz_RPi_utils/mqtt/RFMqttRcvCmplxData","append":"","useSpawn":"","name":"start RFMqttRcvCmplxData","x":321,"y":98,"z":"350e9812.caf168","wires":[[],[],[]]},{"id":"f1d4182b.0e2be8","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":105,"y":130,"z":"350e9812.caf168","wires":[["687ffef8.978","ee84eadc.117b18"]]},{"id":"8a76a977.758958","type":"comment","name":"start code that reads sensors and publishes to mqtt broker","info":"At this time, I will only start it manually\nto avoid multiple processes running at the same time.\n\nIn the future, the inject will be setup to run once\non startup but I need to figure out how to prevent running\nif an instance is already running (maybe a bash script).","x":234,"y":39,"z":"350e9812.caf168","wires":[]},{"id":"74237f71.8bdc8","type":"mqtt in","name":"data in","topic":"stations/#","broker":"c8b4f962.374b08","x":86,"y":233,"z":"350e9812.caf168","wires":[["13aab9b6.ec5546","dcde34f1.2321c8"]]},{"id":"dcde34f1.2321c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1048,"y":228,"z":"350e9812.caf168","wires":[]},{"id":"13aab9b6.ec5546","type":"function","name":"parse data","func":"// get the individual values from the uint passed in\n// we are listening to motion topics at this time\n// but the code below can handle both motion and sensors\nvar value = msg.payload;\nvar stationCode = value >> 28 & 0xF;\n//var t1 = value >>> 28;\t// this works as well\nvar t2 = value >> 18 & 0x3FF;\nvar t3 = value >> 8 & 0x3FF;\nvar t4 = value & 0xFF;\n\nvar newMsg = {payload:{}};\nif(t2 == 0 && t3 == 0) {\n\tnewMsg.payload.type = \"motion\";\n\tnewMsg.payload.stationCode = stationCode;\n\tnewMsg.payload.motion = t4;\n} else {\n\tnewMsg.payload.type = \"sensors\";\n\tnewMsg.payload.stationCode = stationCode;\n\tnewMsg.payload.temp = t2 / 10.0;\n\tnewMsg.payload.humid = t3 / 10.0;\n\tnewMsg.payload.batt = t4 * 50.0;\n}\nreturn newMsg;","outputs":1,"x":264,"y":305,"z":"350e9812.caf168","wires":[["281c72d.fd7e38e"]]},{"id":"45ba437.fba45bc","type":"function","name":"random command","func":"// when motion is detected, just generate a random number\n// so one of 4 sound files will be played\nvar min = 0;\nvar max = 3;\nvar random = Math.floor(Math.random() * (max - min + 1)) + min;\nif(random == 0) {\n\tmsg.payload = \"A\";\n} else if(random == 1) {\n\tmsg.payload = \"B\";\n} else if(random == 2) {\n\tmsg.payload = \"C\";\n} else {\n\tmsg.payload = \"D\";\n}\n\nreturn msg;","outputs":1,"x":812,"y":344,"z":"350e9812.caf168","wires":[["55e483e2.aa1b7c","dcde34f1.2321c8"]]},{"id":"296d552a.d692aa","type":"comment","name":"start python script listening to mqtt broker and making sound","info":"At this time, I will only start it manually\nto avoid multiple processes running at the same time.\n\nIn the future, the inject will be setup to run once\non startup but I need to figure out how to prevent running\nif an instance is already running (maybe a bash script).","x":685,"y":101,"z":"350e9812.caf168","wires":[]},{"id":"ee84eadc.117b18","type":"exec","command":"/home/webide/repositories/my-pi-projects/python/soundplayer.py","append":"","useSpawn":"","name":"start soundplayer.py","x":697,"y":157,"z":"350e9812.caf168","wires":[[],[],[]]},{"id":"281c72d.fd7e38e","type":"switch","name":"motion or sensors","property":"payload.type","rules":[{"t":"eq","v":"motion"},{"t":"else"}],"checkall":"true","outputs":2,"x":352,"y":393,"z":"350e9812.caf168","wires":[["f78a576c.0875a8"],["da64ea53.259b18"]]},{"id":"f78a576c.0875a8","type":"switch","name":"motion detected","property":"payload.motion","rules":[{"t":"eq","v":1,"v2":null}],"checkall":"true","outputs":1,"x":589,"y":344,"z":"350e9812.caf168","wires":[["45ba437.fba45bc"]]},{"id":"f981e8d0.067e18","type":"inject","name":"test motion data","topic":"","payload":"4026531841","payloadType":"string","repeat":"","crontab":"","once":false,"x":101,"y":413,"z":"350e9812.caf168","wires":[["13aab9b6.ec5546"]]},{"id":"55e483e2.aa1b7c","type":"mqtt out","name":"data out","topic":"raspberry/1/incoming","qos":"","retain":"","broker":"c8b4f962.374b08","x":1053,"y":344,"z":"350e9812.caf168","wires":[]},{"id":"f3c85fdb.0c37a","type":"inject","name":"test sensors data","topic":"","payload":"4294948097","payloadType":"string","repeat":"","crontab":"","once":false,"x":105,"y":496,"z":"350e9812.caf168","wires":[["13aab9b6.ec5546"]]},{"id":"da64ea53.259b18","type":"dweetio out","thing":"Arduino2RasPi_temp","name":"","x":800,"y":548,"z":"350e9812.caf168","wires":[]}]